/*------------------------------------*\
    #COMMON
\*------------------------------------*/
@import "variables";

.access-link {
	background-color: $header-background;
	font-size: $font-size-medium;
}

.main-content {
	font-size: $font-size-small;
	padding: 20px 25px 20px 20px;
}

.section-heading {
	background-color: $header-background;
	color: #2889d4;
	font-size: $font-size-medium;
	padding: 10px;
	text-transform: uppercase;
}

.separator {
	padding-right: 5px;
	border-right: 1px solid gray;
}

.highlight {
	color: #ffaa80;
}

.glyphicon {
	cursor: pointer;
}

.space-left {
	padding-left: 58px;

	.required::after {
		right: 27px;
	}
}

.description {
	color: #cccccc;
	position: relative;
	top: 0;
}

.form-group-bordered {
	border-bottom: 1px solid #cccccc;
}


.clearButton {
	position: absolute;
	right: 5px;
	top: 0;
	bottom: 0;
	height: 14px;
	margin: auto;
	font-size: 14px;
	cursor: pointer;
	color: #ccc;
}
