/*------------------------------------*\
    #COMMON
\*------------------------------------*/
@import "variables";

.main-content {
	font-size: $font-size-small;
	padding: 20px 25px 20px 20px;
}

.separator {
	padding-right: 5px;
	border-right: 1px solid gray;
}

.highlight {
	color: #ffaa80;
}

.glyphicon {
	cursor: pointer;
}

.spaced {
	padding-left: 50px;
}


.clearButton {
	position: absolute;
	right: 5px;
	top: 0;
	bottom: 0;
	height: 14px;
	margin: auto;
	font-size: 14px;
	cursor: pointer;
	color: #ccc;
}
