/*------------------------------------*\
    #FORMS
\*------------------------------------*/
input {
	&.filter {
		font-size: $font-size-small;
		margin: 20px 7px;
		line-height: 1;
		padding: 4px 10px;
		width: 280px;
	}
}

.form-group.required {
	color: red;
}

.checkbox-custom {
	margin: 5px 10px 0 0;
	position: relative;
}

.checkbox-custom label {
	background: white;
	border:1px solid #ddd;
	height: 18px;
	left: 0;
	max-width: none;
	position: absolute;
	top: 0;
  	width: 18px;
}

.checkbox-custom label:after {
	border: 3px solid #333;
	border-top: none;
	border-right: none;
	background: white;
	content: '';
	opacity: 0;
	height: 6px;
	left: 3px;
	position: absolute;
	top: 5px;
	width: 11px;

	@include transform(rotate(-45deg));
}

.checkbox-custom input[type=checkbox]:checked + label:after {
	opacity: 1;
}
