/*------------------------------------*\
    #FORMS
\*------------------------------------*/
input {
	&.filter {
		font-size: $font-size-small;
		margin: 20px 7px;
		line-height: 1;
		padding: 4px 10px;
		width: 280px;
	}
}

//overwritting due to padding wrongly set
input[type="date"] {
     -webkit-align-items: center;
     display: -webkit-inline-flex;
     overflow: hidden;
     padding: 0;
     -webkit-padding-start: 6px;
}

.required::after {
	content: '*';
	color: #f2c3c2;
	font-size: 25px;
	font-weight: 200;
	position: absolute;
	right: 8px;
	top: 0;
}

.inline-elements {
	.form-control {
		display: inline-block;
		margin-left: 5px;
		padding: 6px;
		width: 28px;

		&:first-child {
			margin-left: 0;
		}
	}
}

.shipping {
	.inline-elements .form-control {
		&:first-child {
			width: 62%;
		}

		&:last-child {
			width: 32%;
		}
	}
}

.comision {
	.inline-elements .form-control {
		&:first-child {
			width: 48%;
		}

		&:last-child {
			width: 46%;
		}
	}
}

.middle-input-area {
	margin-left: -21px;
}

.margin-right-forms {
	margin-right: 5px;
}

.checkbox-custom {
	margin: 5px 10px 0 0;
	position: relative;
}

.checkbox-custom label {
	background: white;
	border:1px solid #ddd;
	height: 18px;
	left: 0;
	max-width: none;
	position: absolute;
	top: 0;
  	width: 18px;
}

.checkbox-custom label:after {
	border: 3px solid #333;
	border-top: none;
	border-right: none;
	background: white;
	content: '';
	opacity: 0;
	height: 6px;
	left: 3px;
	position: absolute;
	top: 5px;
	width: 11px;

	@include transform(rotate(-45deg));
}

.checkbox-custom input[type=checkbox]:checked + label:after {
	opacity: 1;
}
