/*------------------------------------*\
    #ICON FONTS
\*------------------------------------*/

.glyphicon-ok {
	color: $c-success;
	right: 0;
}

.glyphicon-exclamation-sign {
	color: $c-error;
	right: 0;
}
