/*------------------------------------*\
    #SECOND-SCREEN
\*------------------------------------*/

.inventory-manager {
	font-size: $font-size-small - 1;

	.row {
		margin-left: 0;
	}

	.nav-tabs {
		background-color: $c-header-background;
		border: 0;

		& > li {
			font-size: $font-size-small;
			text-transform: uppercase;

			a {
				border: 0;
				font-weight: 500;
			}

			&.disabled > a {
				color: #cfcfcf;
			}

			&.active > a,
			&.active > a:hover {
				background-color: inherit;
				border: 0;
				color: $c-blue;
			}
		}
	}

	.tab-content {
		margin-top: 12px;
		margin-left: 15px;
	}

	.form-horizontal .control-label {
		text-align: initial;
	}

	.form-horizontal {
		.col-sm-3 {
			padding-right: 0;
		}

		.alternate-images {
			color: $c-blue;
			padding-top: 10px;
			text-transform: uppercase;
		}
	}

	.form-group {
		margin-right: 15px;
		margin-bottom: 8px;

		.control-label {
			font-weight: 500;
			padding-left: 0;
			padding-right: 0;
		}

		.form-control {
			font-size: $font-size-small - 1;
			height: 24px;
			padding: 5px;

			&:focus {
				&.ng-invalid.ng-dirty {
					border-color: $c-error;

					@include box-shadow(rgba(0,0,0,.075) 0 1px 1px, $c-error 0 0 3px inset);
				}
			}


			&[required] {
				padding-right: 20px;
			}
		}

		.col-sm-2,
		.col-sm-3,
		.col-sm-6,
		.col-sm-7 {
			padding-left: 0;
			padding-right: 0;
		}

		.upload-item {
			padding-top: 5px;
			padding-right: 5px;

			a {
				text-decoration: underline;
			}

			.glyphicon {
				color: green;
				font-size: $font-size-medium;

				&:before {
					position: absolute;
					left: 12px;
					top: -12px;
				}

			}
		}

		.glyphicon-ok,
		.glyphicon-exclamation-sign {
			right: 4px;

			&:before {
				cursor: auto;
				font-size: 16px;
				position: relative;
				top: 4px;
			}
		}
	}


	.img-url-data {
		position: relative;
		top: 5px;
	}

	.border-bottom::after {
		content: '';
		border-bottom: 1px solid #dcdee0;
		display: block;
		position: relative;
		top: 25px;
	}
}
