/*
 * CSS related to the secondScreen
*/

.inventory-manager {
	font-size: $font-size-small - 1;

	.row {
		margin-left: 0;
	}

	.nav-tabs {
		background-color: $header-background;
		border: 0;

		& > li {
			font-size: $font-size-small;
			text-transform: uppercase;

			a {
				border: 0;
				font-weight: 500;
			}

			&.disabled>a {
				color: #cfcfcf;
			}

			&.active>a,
			&.active>a:hover {
				background-color: inherit;
				border: 0;
				color: #2889d4;
			}
		}
	}

	.tab-content {
		margin-top: 12px;
		margin-left: 25px;
	}

	.form-horizontal .control-label {
		text-align: initial;
	}

	.form-horizontal {
		.col-sm-3 {
			padding-right: 0;
		}

		.alternate-images {
			color: #2889d4;
			padding-top: 10px;
			text-transform: uppercase;
		}
	}

	.form-group {
		margin-right: 15px;
		margin-bottom: 8px;

		.control-label {
			font-weight: 500;
			padding-left: 0;
			padding-right: 0;
		}

		.form-control {
			font-size: $font-size-small - 1;
			height: 24px;
		}

		.col-sm-2,
		.col-sm-3,
		.col-sm-6,
		.col-sm-7 {
			padding-left: 0;
			padding-right: 0;
		}

		.upload-item {
			padding-top: 5px;
			padding-right: 5px;

			a {
				text-decoration: underline;
			}

			.glyphicon {
				color: green;
				font-size: $font-size-medium;

				&:before {
					position: absolute;
					left: 12px;
					top: -12px;
				}

			}
		}
	}

	.img-url-data {
		position: relative;
		top: 5px;
	}

	.border-bottom::after {
		content: '';
		border-bottom: 1px solid #dcdee0;
		display: block;
		position: relative;
		top: 25px;
	}
}
