/*
 * CSS related to the secondScreen
*/

.inventory-manager {
	.nav-tabs.nav-justified>li {
		text-transform: uppercase;
	}

	.form-horizontal .control-label {
		text-align: initial;
	}

	.form-horizontal {
		.col-sm-3 {
			padding-right: 0;
		}
	}

	.form-group {
		margin-right: 15px;

		.col-sm-6 {
			padding-left: 0;
			padding-right: 0;
		}
	}
}
