/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/

//COLORS
$c-header-background: #f5f5f5;
$c-blue: #2889d4;
$c-success: #009c5d;
$c-error: #e0635e;
$c-highlight: #ffaa80;

//FONTS SIZES
$font-size-small: 12px;
$font-size-medium: 14px;
