<div class="template-fields">
	<div class="section-heading numbered panel-heading">Choose template fields</div>
	<input class="filter" type="text" placeholder="Filter" ng-model="vmFirstScreen.filter">
	<span class="glyphicon glyphicon-remove" ng-click="vmFirstScreen.filter = ''"></span>

	<accordion close-others="false">
		<accordion-group is-open="templateField.isOpen" ng-repeat="templateField in vmFirstScreen.templateFields">
			<accordion-heading>
				{{ templateField.title }} <i class="pull-right glyphicon" ng-class="templateField.isOpen ? 'glyphicon glyphicon-menu-up' : 'glyphicon glyphicon-menu-down'"></i>
			</accordion-heading>
			<div class="action-links">
				<a href="javascript:void(0);" class="separator" ng-click="vmFirstScreen.selectAll(true, templateField.category)">Select all</a>
				<a href="javascript:void(0);" ng-click="vmFirstScreen.selectAll(false, templateField.category)">Deselect all</a>
			</div>
			<!-- using $parent because ng-repeat creates a new child scope -->
			<div class="checkbox-items" ng-class="$parent.templateField.category === 1 ? 'col-md-3' : 'col-md-4'" ng-repeat="item in templateField.items">
				<span class="checkbox-custom">
					<input type="checkbox" id="checkbox-{{ $parent.templateField.category }}-{{ $index }}" aria-label="{{ item.label }}" ng-model="item.value" name="" />
					<label for="checkbox-{{ $parent.templateField.category }}-{{ $index }}"></label>
				</span>
				<span ng-bind-html="item.label | highlight:vmFirstScreen.filter" }}</span>
			</div>
		</accordion-group>
	</accordion>
	<a type="button" class="btn btn-primary pull-right" ng-click="vmFirstScreen.goToSecondScreen()"> Second screen </a>
</div>