<div class="inventory-manager">
	<tabset justified="true">
		<!-- <tab heading="{{ tab.title }}" ng-repeat="tab in vmSecondScreen.tabs" active="tab.isActive" disabled="tab.isDisabled">
			Content
		</tab> -->
		<tab heading="Justified">
			<div class="product-information">
				<form role="form" class="form-horizontal" name="productInfo-form">
					<div class="form-group required col-sm-3">
						<label for="product-name" class="col-sm-6 control-label">Product Name</label>
						<div class="col-sm-6">
							<input id="product-name" type="text" class="form-control">
						</div>
					</div>
					<div class="form-group col-sm-3 spaced">
						<label for="model-number" class="col-sm-6 control-label">Model Number</label>
						<div class="col-sm-6 ">
							<input id="model-number" type="text" class="form-control">
						</div>
					</div>
					<div class="form-group required col-sm-6 spaced">
						<label for="main-image" class="col-sm-2 control-label">Main Image</label>
						<div class="col-sm-10">
							<input id="main-image" type="text" class="form-control" placeholder="Enter the image url OR click Upload">
						</div>
					</div>


					<div class="form-group col-sm-3">
						<label for="sku" class="col-sm-6 control-label">SKU</label>
						<div class="col-sm-6">
							<input id="sku" type="text" class="form-control">
						</div>
					</div>
					<div class="form-group col-sm-3 spaced">
						<label for="asin" class="col-sm-6 control-label">ASIN</label>
						<div class="col-sm-6 ">
							<input id="asin" type="text" class="form-control">
						</div>
					</div>
					<div class="form-group required col-sm-6 spaced">
						<label for="thumbnail-img" class="col-sm-2 control-label">Thumbnail Image</label>
						<div class="col-sm-10">
							<input id="thumbnail-img" type="text" class="form-control" placeholder="Enter the image url OR click Upload">
						</div>
					</div>


					<div class="form-group col-sm-3">
						<label for="upc" class="col-sm-6 control-label">UPC</label>
						<div class="col-sm-6">
							<input id="upc" type="text" class="form-control">
						</div>
					</div>
					<div class="form-group col-sm-3 spaced">
						<label for="isbn" class="col-sm-6 control-label">ISBN</label>
						<div class="col-sm-6 ">
							<input id="isbn" type="text" class="form-control">
						</div>
					</div>
					<div class="form-group col-sm-6 spaced">
						ALTERNATE IMAGES
					</div>


					<div class="form-group required col-sm-3">
						<label for="ean" class="col-sm-6 control-label">EAN</label>
						<div class="col-sm-6">
							<input id="ean" type="text" class="form-control">
						</div>
					</div>
					<div class="form-group required col-sm-3 spaced">
						<label for="mrsp" class="col-sm-6 control-label">MRSP</label>
						<div class="col-sm-6 ">
							<input id="mrsp" type="text" class="form-control">
						</div>
					</div>
					<div class="form-group col-sm-6 spaced">
						<label for="isbn" class="col-sm-2 control-label">Image Url</label>
						<div class="col-sm-8">
							<input id="isbn" type="text" class="form-control" placeholder="Enter the image url and click + OR click Upload">
						</div>
					</div>


					<div class="form-group required col-sm-6">
						<label for="buy-id" class="col-sm-6 control-label">Buy ID</label>
						<div class="col-sm-3 ">
							<input id="buy-id" type="text" class="form-control">
						</div>
					</div>
					<div class="form-group col-sm-3 spaced">
						<label for="release-date" class="col-sm-6 control-label">Release Date</label>
						<div class="col-sm-6 ">
							<input id="release-date" type="text" class="form-control">
						</div>
					</div>


					<div class="form-group col-sm-3">
						<label for="ebay-pid" class="col-sm-6 control-label">eBay PID</label>
						<div class="col-sm-3">
							<input id="ebay-pid" type="text" class="form-control">
						</div>
					</div>
					<div class="form-group col-sm-3 spaced">
						<label for="manufacture" class="col-sm-6 control-label">Manufacture</label>
						<div class="col-sm-3">
							<input id="release-date" type="text" class="form-control">
						</div>
					</div>
					<div class="form-group col-sm-6 spaced">
						There are no additional images at this moment
					</div>
				</form>
			</div>
		</tab>
		<tab heading="Justified 2"></tab>
		<tab heading="Justified 3"></tab>
	</tabset>
</div>

