<div class="inventory-manager container-fluid">
	<tabset>
		<tab heading="{{ tab.title }}" ng-repeat="tab in vmSecondScreen.tabs" active="tab.isActive" disabled="tab.isDisabled" >
			<div ng-if="!tab.isDisabled" class="product-information">
				<form role="form" class="form-horizontal" name="productInfoForm" nodavalidate>
					<div class="row" ng-form="fieldInfo_{{ $index }}" ng-repeat="field in vmSecondScreen.templatesFields">
						<div class="form-group col-sm-7">
							<label for="{{ field.idItem }}" class="col-sm-5 control-label" ng-class="{ 'required' : field.isRequired === true }">{{ field.label }}</label>
							<div class="{{ field.className }}">
								<span ng-switch on="field.type">
									<div ng-switch-when="input">
										<input name="{{ field.idItem }}" ng-model="model" type="text" class="form-control" ng-required="{{ field.isRequired }}" ng-minlength="{{ field.minLength }}">
										<span class="alert-balloon" ng-show="fieldInfo_{{ $index }}[field.idItem].$error.minlength">no less than 18 symbols</span>
									</div>
									<div ng-switch-when="select">
										<select class="form-control">
											<option selected>Select ...</option>
										</select>
									</div>
									<div ng-switch-when="date">
										<input type="date" class="form-control" ng-model="model">
									</div>
									<span class="glyphicon error-message" ng-class="fieldInfo_{{ $index }}[field.idItem].$invalid === true ? 'glyphicon-exclamation-sign' : 'glyphicon-ok'" ng-show="fieldInfo_{{ $index }}[field.idItem].$dirty && {{ field.isRequired === true }}"></span>
								</span>
							</div>
						</div>
					</div>
				</form>
			</div>
		</tab>
	</tabset>
</div>
<a type="button" class="btn btn-primary pull-left navigate" ng-href="#/"> First screen </a>

