<div class="inventory-manager container-fluid">
	<tabset>
		<tab heading="{{ tab.title }}" ng-repeat="tab in vmSecondScreen.tabs" active="tab.isActive" disabled="tab.isDisabled" >
			<div ng-if="!tab.isDisabled" class="product-information">
				<form role="form" class="form-horizontal" name="productInfoForm" nodavalidate>
					<div class="row" ng-repeat="field in vmSecondScreen.templatesFields">
						<div dynamic-form="field" element-wrapper-class="col-sm-7" label-class="col-sm-4" input-wrapper-class="{{ field.className }}"></div>
					</div>
				</form>
			</div>
		</tab>
	</tabset>
</div>
<a type="button" class="btn btn-primary pull-left navigate" ng-href="#/"> First screen </a>

